extends ./../layouts/main

block variables
	- var title = "Don't Calc U Late"
	- var cssPath = "css/main.min.css"
	- var jsPath = "js/main.min.js"

block content
	section(class='content')
		section(class='content__game')
			include ./../widgets/level-board.pug
			include ./../shared/main_square.pug
		aside(class='content__user-interaction')
			include ./../widgets/game-timer.pug
			include ./../widgets/game-start-numbers.pug
			include ./../widgets/game-current-amount.pug
			include ./../widgets/game-statistics.pug
			include ./../widgets/game-start.pug
		