extends ./../layouts/main

block variables
	- var title = "Results"
	- var cssPath = "./../css/main.min.css"
	- var jsPath = "./../js/main.min.js"

block content
	section(class='content')
		section(class='content__result')
			p Results page