extends ./../layouts/main

block variables
	- var title = "Game guide and results"
	- var cssPath = "./../css/main.min.css"
	- var jsPath = "./../js/main.min.js"

block content
	section(class='content guide-result')
		nav(class='content__navigation')
			button(class='content__navigation_result' data-nav="result") Game result
			button(class='content__navigation_guide' data-nav="guide") Game guide
		section(class='content__panels')
			include ./../widgets/page-game-guide.pug
			include ./../widgets/page-game-result.pug
			include ./../widgets/page-game-preloader.pug