div(class='content__main-square')
	div(class='three-d-block-wrapper')
		div(class='three-d-block')
			div(class='three-d-block__side three-d-block_center')
			div(class='three-d-block__side three-d-block_left')
			div(class='three-d-block__side three-d-block_right')
			div(class='three-d-block__side three-d-block_bottom')
			div(class='three-d-block__side three-d-block_top')
			div(class='three-d-block__side three-d-block_back')