div(class='widget-game-initial-numbers__signs')
	p
		span Select a sign
		span (The selected signs will take part in the calculation between the numbers)
	label +
		input(type='checkbox' name='plus')
	label -
		input(type='checkbox' name='mines')
	label /
		input(type='checkbox' name='division')
	label *
		input(type='checkbox' name='multiplying')
	label All
		input(type='checkbox' name='all' checked='checked')