div(class='widget-game-statistics')
	div(class='widget-game-statistics__title')
		span Game statistics
	button(id='openStatistics') Open game statistics
	div(class='widget-game-statistics__block') Here are some game stats