div(class='widget-game-current-amount')
	div(class='widget-game-current-amount__user-res')
		span User's current amount 
		input(type='text' value='0' maxlength='4' size='5' disabled)
	div(class='widget-game-current-amount__cpu-res')
		span CPU result
		input(type='text' value='0' maxlength='4' size='5' disabled)