include ./../shared/start-game-buttons.pug
div(class='widget-game-on-off')
	span(class='widget-game-on-off__title') Game start/stop/retry all levels
	div(class='widget-game-on-off__buttons')
		+btn('play','Play the game')
		+btn('stop','Stop the game')
		+btn('retry','Try to play all levels again')