div(class='content__level-board content__level-board-show')
	div(class='level-board_level-number')
		span Level number:
		span 0
	div(class='level-board_range-numbers')
		span Level range of numbers:
		span from 0 to 0