include ./../shared/page-game-result-sorting-results.pug
include ./../shared/page-game-result-levels-list.pug
section(class='content__result')
	h3 Game results page
	div(class='no-results')
		p There are no results
	div(class='block-results')
		div(class='block-results_sorting')
			+sorting-results("success")
			button(class='block-results_clear-data') Clear all data 
		header(class='block-header_games')
			span Level
			span Sequence of numbers
			span Remain time
			span User result
			span CPU result
			span Progress
		div(class='block-data_games')
			+level-list(10, 10)