include ./../shared/page-game-result-sorting-results.pug
include ./../shared/page-game-result-levels-list.pug
section(class='content__result')
	h3 Game results page
	div(class='no-results')
		p There are no results
	div(class='block-results')
		div(class='block-results_sorting')
			+sorting-results("byDate")
			button(class='block-results_clear-data') Clear all data 
		header(class='block-header_games')
			h3 The structure of each level with the example of provided information
			div
				span Level
				span User result
				span CPU result
				span Progress
				span Remaining time
				span Sequence of numbers
		div(class='block-data_games')
			+level-list(10, 10)