section(class='content__guide')
	div
		h4 Read this information before you start playing. 
	div(class='content__guide_rules')
		h3 Description and step-by-step instructions.
		div
			span(class='content__guide-title') 1. Timer
			div(class='block-cover')
				div(class='block-cover__widget')
					include ./game-timer.pug
				p(class='block-cover__desc') This block displays the current level and a countdown timer.
			span(class='content__guide-title') 2. Managing numbers
			div(class='block-cover')
				div(class='block-cover__widget')
					include ./game-start-numbers.pug
				p(class='block-cover__desc') In this block, you can specify what type of numbers will be in the game: 'mixed', 'even' or 'odd', also select a range of numbers (negative, positive) and choose which signs they should have throughout the level.
			span(class='content__guide-title') 3. User's result compares with the CPU result
			div(class='block-cover')
				div(class='block-cover__widget')
					include ./game-current-amount.pug
				p(class='block-cover__desc') When the user has opened all the cells of the cube, calculated his own result, he can enter this result in the field and confirm it with the button. This result is compared with the CPU result, after which the level is considered passed.
			span(class='content__guide-title') 4. Game statistics
			div(class='block-cover')
				div(class='block-cover__widget')
					include ./game-statistics.pug
				p(class='block-cover__desc') There you can see a collapsed block that shows the results of all levels of the current game. Here you can see brief results during the game. In the upper right corner, the number of completed levels is displayed.
			span(class='content__guide-title') 5. Start / Stop / Retry the game
			div(class='block-cover')
				div(class='block-cover__widget')
					include ./game-start.pug
				p(class='block-cover__desc') There are three buttons.
				p(class='block-cover__desc') - The "Play the game" button can only be clicked if the user sets the range of numbers that he wants, but no less than acceptable.
				p(class='block-cover__desc') - The "Stop the game" button allows the player to interrupt the game while playing a level. 
				p(class='block-cover__desc') - The "Try to play all levels again" button is used to replay the game again. When the level time is up or if the game is interrupted by the user, this button activates the "Play the game" button.
			h4 Starting the game is as easy as unwrapping a candy!
			p(class='block-cover__desc') 1. Simply select numbers from a range randomly or drag the sliders left or right.
			p(class='block-cover__desc') 2. After determining the range of numbers, you can click the 'Play the game' button.
			p(class='block-cover__desc') 3. I wish you good luck and pleasant calculations!
	div(class='content__guide_author')
		h3 About author
		dl
			dt Author: MX.
			dd MX is my nickname, and I'm a web developer.
			dt Inspiration:
			dd The main goal of this game is to help you calculate numbers within a limited time. I hope this game will help you love the process of calculations more!