@use 'variables' as variables;
@use 'mixins';

*{ 
	margin: 0; 
	padding: 0;
}
html, body{
	@include mixins.custom-font("Eox2", Exo2-Regular);
	font-size: calc(1vw + 0.6em);
	box-sizing: border-box;
	font-family: "Eox2";
	color: var(--font-color, #000);
	height:100%;
}
.wrapper{
	background-color: variables.$main-background;
	min-height:100%;
	display:flex;
	flex-direction:column;
	.header{
		flex-shrink: 0;
		h1{
			@include mixins.custom-font("Mistral", Mistral);
			font-family: "Mistral";
			text-align: center;
		}
		nav{
			ul{
				list-style-type:none;
				display: flex;
				justify-content: center;
				li{
					margin-left:2em;
					a{
						font-size: .7em;
						text-decoration: none;
						font-weight: 600;
					}
				}
			}
		}
	}
	.content{
		flex: 1 0 auto;
		max-width: 1200px;
		width: 100%;
		border: 1px solid #000;
		margin: 0 auto;
		display: flex;
		.content__game{
			background-color: #f6f6f6;
			flex-basis: 60%;
			display:flex;
			justify-content: center;
			align-items: center;
			.content__main-square{
				display:flex;
				justify-content:center;
				align-items:center;
				position:relative;
				perspective: 500px;
				width:80%;
				height: 80%;
				border: 1px solid #000;
				@include mixins.square-3d-scale(8s,1);
			}
		}
		.content__user-interaction{
			background-color: green;
			flex-basis: 40%;
		}
		.content__result{
			
		}
	}
	.footer{
		flex-shrink: 0;
		font-size: .7em;
		text-align: center;
	}
}
