@use 'variables' as variables;
@use 'mixins';

*{ 
	margin: 0; 
	padding: 0;
}
html, body{
	@include mixins.custom-font("Eox2", Exo2-Regular);
	font-size: calc(1vw + 0.6em);
	box-sizing: border-box;
	font-family: "Eox2";
	color: var(--font-color, #000);
	height:100%;
}
.wrapper{
	background-color: variables.$main-background;
	min-height:100%;
	display:flex;
	flex-direction:column;
	.header{
		flex-shrink: 0;
		h1{
			@include mixins.custom-font("Mistral", Mistral);
			font-family: "Mistral";
			text-align: center;
		}
		nav{
			ul{
				list-style-type:none;
				display: flex;
				justify-content: center;
				li{
					margin-left:2em;
					a{
						font-size: .7em;
						text-decoration: none;
						font-weight: 600;
					}
				}
			}
		}
	}
	.content{
		flex: 1 0 auto;
		max-width: 1200px;
		width: 100%;
		border: 1px solid #000;
		margin: 0 auto;
		display: flex;
		.content__game{
			background-color: var(--game-bg);
			flex-basis: 60%;
			display:flex;
			justify-content: center;
			align-items: center;
			.content__main-square{
				background-image: linear-gradient(to top, var(--game-cube-bg-bottom) 5%, var(--game-cube-bg-top) 45%);
				display:flex;
				justify-content:center;
				align-items:center;
				position:relative;
				perspective: 500px;
				width:80%;
				height: 80%;
				border: 1px solid #000;
				@include mixins.square-3d-scale(8s,1);
			}
		}
		.content__user-interaction{
			background-color: var(--user-inter-bg);
			flex-basis: 40%;
			%widget-part{
				padding: 5px;
				border: 3px solid #7da6f3;
				margin: 2%;
				background-image: linear-gradient(to left bottom, #a3a3e5, #e1a9b2);
			}
			.widget-game-timer{
				@extend %widget-part;
				background-image: linear-gradient(#7c7c9d, #add9e3);
				display: flex;
				flex-direction: column;
				align-items: center;
				h2{
					color: darken(#4e4e7e, 10%);
					font-size: 1em;
				}
				.widget-game-timer__info{
					display: flex;
					justify-content: space-between;
					width:100%;
					box-sizing: border-box;
					padding: 0 10% 0 10%;
				}
			}
			.widget-game-initial-numbers{
				@extend %widget-part;
				&__title{
					color:#fff;
					font-size: .6em;
					margin-bottom:1%;
					span:not(span:first-child){
						margin-left:1%;
					}
					.widget-game-initial-numbers__radios{
						display:flex;
						justify-content:space-around;
						margin-bottom:2%;
						label{
							color: #1c1313;
							width:20%;
							input[type='radio']{
								margin:2% 0 0 10%;
							}
						}
					}
				}
				&__range{
					color:#fff;
					font-size: .6em;
					span{
						display: block;
					}
					& > span:first-child{
						display:block;
					}
					& > input:nth-of-type(1){
						margin-left:25%;
					}
					& > input:nth-of-type(2){
						margin-left:5%;
					}
				}
			}
			.widget-game-current-amount{
				@extend %widget-part;
				display: flex;
				color:#fff;
				&__user-res, &__cpu-res{
					font-size: .8em;
					display: flex;
					flex-direction: column;
				}
				&__user-res{
					flex-basis: 60%;
					input{
						width:50%;
					}
				}
				&__cpu-res{
					flex-basis: 40%;
					input{
						width:70%;
					}
				}
			}
			.widget-game-statistics{
				@extend %widget-part;
				color:#fff;
				&__title{
					font-size: .8em;
				}
				&__block{
					font-size: .6em;
				}
				
			}
			.widget-game-on-off{
				@extend %widget-part;
				display: flex;
				flex-direction: column;
				&__title{
					color:#fff;
					font-size: .8em;
				}
				&__buttons{
					
				}
			}
		}
	}
	.footer{
		flex-shrink: 0;
		font-size: .7em;
		text-align: center;
	}
}
