@use 'variables' as variables;
@use 'mixins';

*{ 
	margin: 0; 
	padding: 0;
}
html, body{
	@include mixins.custom-font("Eox2", Exo2-Regular);
	font-size: calc(1vw + 0.6em);
	box-sizing: border-box;
	font-family: "Eox2";
	color: var(--font-color, #000);
	height:100%;
}
.wrapper{
	background-color: variables.$main-background;
	min-height:100%;
	display:flex;
	flex-direction:column;
	.header{
		flex-shrink: 0;
		h1{
			@include mixins.custom-font("Mistral", Mistral);
			font-family: "Mistral";
			text-align: center;
		}
		nav{
			ul{
				list-style-type:none;
				display: flex;
				justify-content: center;
				li{
					margin-left:2em;
					a{
						font-size: .7em;
						text-decoration: none;
						font-weight: 600;
					}
				}
			}
		}
	}
	.content{
		flex: 1 0 auto;
		max-width: 1200px;
		width: 100%;
		border: 1px solid #000;
		margin: 0 auto;
		display: flex;
		position: relative;
		overflow: hidden;
		&::before{
			content: "Game over";
			text-align: center;
			padding-top: 5%;
			display: var(--game-message, none);
			width: 40%;
			height: 20%;
			position: absolute;
			top: 0%;
			left: 30%;
			background-color: pink;
			border: 1px solid #000;
			z-index: 2;
		}
		.content__game{
			background-color: var(--game-bg);
			position: relative;
			flex-basis: 60%;
			display:flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			.content__level-board{
				position:absolute;
				z-index: 1;
				top: -30%;
				left: 10%;
				width: 80%;
				height: 40%;
				color: #fff; /*var(--font-color);*/
				display: flex;
				flex-direction: column;
				align-items: center;
				border:3px solid #fff;
				box-sizing: border-box;
			}
			@include mixins.level-board('content__level-board-show', true);
			@include mixins.level-board('content__level-board-hide', false);
			.content__main-square{
				background-image: linear-gradient(to top, var(--game-cube-bg-bottom) 5%, var(--game-cube-bg-top) 45%);
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				perspective: 500px;
				width: 80%;
				height: 80%;
				border: 1px solid #000;
				@include mixins.square-3d-scale(8s,1);
			}
		}
		.content__user-interaction{
			background-color: var(--user-inter-bg);
			flex-basis: 40%;
			%widget-part{
				padding: 5px;
				border: 3px solid #7da6f3;
				margin: 2%;
				background-image: linear-gradient(to left bottom, #a3a3e5, #e1a9b2);
			}
			.widget-game-timer{
				@extend %widget-part;
				background-image: linear-gradient(#7c7c9d, #add9e3);
				display: flex;
				flex-direction: column;
				align-items: center;
				h2{
					color: darken(#4e4e7e, 10%);
					font-size: 1em;
				}
				.widget-game-timer__info{
					display: flex;
					justify-content: space-between;
					width:100%;
					box-sizing: border-box;
					padding: 0 10% 0 10%;
				}
			}
			.widget-game-initial-numbers{
				@extend %widget-part;
				&__title{
					color:#fff;
					font-size: .6em;
					margin-bottom:1%;
					span:not(span:first-child){
						margin-left:1%;
					}
					.widget-game-initial-numbers__radios{
						display:flex;
						justify-content:space-around;
						margin-bottom:2%;
						label{
							color: #1c1313;
							width:20%;
							input[type='radio']{
								margin:2% 0 0 10%;
							}
						}
					}
				}
				&__range{
					color:#fff;
					font-size: .6em;
					span{
						display: block;
					}
					& > span:first-child{
						display:block;
					}
					@include mixins.input-range-slider(".widget-game-initial-numbers__sliders");
					.widget-game-initial-numbers__random{
						margin-top: 5px;
						border-top: 3px solid #d5d5d5;
						& > span{
							font-weight: bold;
						}
						& > div{
							display: flex;
							justify-content: space-between;
							& > input[type='number']{
								padding-left: 3px;
								&:focus{
									outline:none;
								}
							}
							& > input[type='button']{
								border-radius:3px;
								padding: 2px 4px;
								background-image: linear-gradient(180deg, var(--game-cube-bg-top), var(--game-cube-bg-bottom));
								&:hover, &:active{
									cursor:pointer;
									background-image: linear-gradient(180deg, var(--game-cube-bg-bottom), var(--game-cube-bg-top));
									box-shadow: 0px 0px 2px #000;
								}
							}
						}
					}
				}
			}
			.widget-game-current-amount{
				@keyframes changing-colors{
					0%{ background-color: #B81CEB; }
					25%{ background-color: #D53BEB; }
					50%{ background-color: #B14DEB; }
					75%{ background-color: #D161EB; }
					100%{ background-color: #B784EB; }
				}
				@extend %widget-part;
				display: flex;
				color:#fff;
				&__user-res, &__cpu-res{
					font-size: .8em;
					display: flex;
					flex-direction: column;
				}
				&__user-res{
					flex-basis: 60%;
					span:first-child{
						font-size:.8em;
						padding-bottom:4px;
					}
					label{
						width:50%;
						padding-left:10%;
						margin-left:10%;
						background-color:#efefef;
						position:relative;
						&:before{
							content: "Enter your result";
							display:var(--userAmount, none);
							position:absolute;
							top:-25px;
							left:0;
							width:100%;
							height:25px;
							background-color:purple;
							font-size:.7em;
							text-align:center;
							animation: changing-colors linear 3s infinite alternate forwards;
						}
						input{
							height:20px;
							display:block;
							border:none;
							outline:none;
							background-color:#efefef;
						}
					}
					.widget-game-current-amount__approve{
						background-color:#fff;
						align-self: flex-start;
						flex-basis:30%;
						font-size:.6em;
						padding: 2px 4px;
						margin: 1% 0 0 16%;
						border: 1px solid #000;
						transition: background-color 1s linear 0s;
						&:hover, &:active{
							background-color:#d385ed;
							cursor:pointer;
						}
					}
				}
				&__vs{
					align-self:center;
					margin-left:-40px;
				}
				&__cpu-res{
					flex-basis: 40%;
					margin-left:40px;
					span:first-child{
						font-size:.8em;
						padding-bottom:4px;
					}
					label{
						width:70%;
						padding-left:10%;
						background-color:#efefef;
						input{
							display:block;
							height:20px;
							border:none;
							outline:none;
						}
					}
				}
				.highlight-user{
					box-shadow: 0px 0px 6px #000;
					border: 1px solid #000;
				}
				.highlight-cpu{
					box-shadow: 0px 0px 6px #000;
					border: 1px solid #000;
				}
			}
			.widget-game-statistics{
				@extend %widget-part;
				color:#fff;
				&__title{
					font-size: .8em;
					display: flex;
					justify-content: space-between;
					& div:last-child{
						margin-right:5%;
						span{
							font-size: .8em;
							padding-right: 10px;
						}
						input{
							text-align: center;
						}
					}
				}
				button#openStatistics{
					border-radius:3px;
					padding: 2px 4px;
					background-image: linear-gradient(90deg, var(--game-cube-bg-top), var(--game-cube-bg-bottom));
					&:focus{
						outline:none;
					}
					&:hover, &:active{
						cursor:pointer;
						background-image: linear-gradient(270deg, var(--game-cube-bg-top), var(--game-cube-bg-bottom));
						box-shadow: 0px 0px 2px #000;
					}
					&:disabled{
						color: #747171;
						cursor:not-allowed;
						box-shadow: none;
					}
				}
				&__block{
					font-size: .6em;
					& span:first-child{
						padding-bottom: 3px;
						display: inline-block;
					}
					.widget-game-statistics__table{
						font-size: .9em;
						.widget-game-statistics__table-header{
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							background-color: darken(#939185, 10%);
							text-align: center;
							span:nth-child(1){
								width: 10%;
								border-left: 1px solid #fff;
								border-right: 1px solid #fff;
							}
							span:nth-child(2){
								width: 20%;
								border-right: 1px solid #fff;
							}
							span:nth-child(3){
								width: 28%;
								border-right: 1px solid #fff;
							}
							span:nth-child(4){
								width: 28%;
								border-right: 1px solid #fff;
							}
							span:nth-child(5){
								width: 14%;
								border-right: 1px solid #fff;
							}
						}
						.widget-game-statistics__row{
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							border-bottom: 1px solid #fff;
							background-color: #B7B597;
							text-align: center;
							.widget-game-statistics__level{
								width: 10%;
								border-left: 1px solid #fff;
								border-right: 1px solid #fff;
							}
							.widget-game-statistics__level-time{
								width: 20%;
								border-right: 1px solid #fff;
							}
							.widget-game-statistics__user-res{
								width: 28%;
								border-right: 1px solid #fff;
							}
							.widget-game-statistics__cpu-res{
								width: 28%;
								border-right: 1px solid #fff;
							}
							.widget-game-statistics__is-success{
								width: 14%;
								border-right: 1px solid #fff;
							}
						}
					}
				}
				
			}
			.widget-game-on-off{
				@extend %widget-part;
				display: flex;
				flex-direction: column;
				&__title{
					color:#fff;
					font-size: .8em;
				}
				&__buttons{
					display: flex;
					justify-content: space-between;
					margin-top: 2%;
					#play{
						@include mixins.game-button(var(--game-start), var(--game-start-end));
					}
					#stop{
						@include mixins.game-button(var(--game-stop), var(--game-stop-end));
					}
					#retry{
						@include mixins.game-button(var(--game-retry), var(--game-retry-end));
					}
				}
			}
		}
	}
	/* Page of the game guide and result */
	.guide-result{
		background: url("./../assets/images/result-guide-navigation.jpg") top left/cover no-repeat;
		flex-direction: column;
		.content__navigation{
			border-bottom: 3px solid #FB773C;
			height: 10vh;
			padding-left:5%;
			%button-base{
				font-size: .8em;
				border: 3px solid #FB773C;
				border-bottom: none;
				cursor: pointer;
				&:hover, &:active{
					border-bottom: none;
				}
			}
			.content__navigation_result{
				height:70%;
				padding:0 2%;
				margin:1.9% 0 0 0;
				background-color: #FFB22C;
				@extend %button-base;
				
			}
			.content__navigation_guide{
				height:70%;
				padding:0 2%;
				margin:1.9% 0 0 1%;
				font-size: .8em;
				background-color: #FFDE4D;
				@extend %button-base;
			}
		}
		.content__panels{
			position:relative;
			overflow:hidden;
			width: 1200px;
			height:70vh;
			.content__result{
				position:absolute;
				background-color: #FFB22C;
				top:0;
				left:0;
				right:0;
				bottom:0;
				z-index:0;
				padding: 1vw;
				h3:first-child{
					font-size:.8em;
					text-align:center;
				}
				.no-results{
					margin-top:3%;
					text-align:center;
					min-height:30vh;
					padding-top:10%;
					border:1px solid #000;
					background: radial-gradient(circle, rgba(231,213,139,1) 0%, rgba(230,192,146,1) 100%);
				}
				.block-results{
					display:none;
					.block-results_sorting{
						font-size:.8em;
						padding: .5% 0 .5% 0;
						display: flex;
						label{
							margin:0% 0% 0% 4%;
							font-size: .8em;
							display:inline-block;
							width:15%;
							input[type="radio"]{
								position:relative;
								left: 10px;
							}
						}
						label:nth-child(3){
							width: 20%;
						}
						label:hover, label input:hover{
							cursor:pointer;
						}
						.pagination-block{
							border: 1px solid #000;
							border-radius: 5px;
							max-width: 180px;
							width: 100%;
							padding: 2px;
							margin-left: 5%;
							background-color: #E8B86D;
							.pagination-block__start-end{
								display: flex;
								justify-content: space-evenly;
								padding: 4px 0;
								& button{
									padding: 2px 4px;
									background-color: #C7B7A3;
									border: 1px solid #503C3C;
									font-weight: bold;
									&:hover, &:active{
										background-color: #BBAB8C;
										cursor: pointer;
									}
								}
							}
							.pagination-block__pages{
								display: flex; 
								justify-content: space-between;
								align-items: center;
								& > span:first-child, & > span:last-child{
									display: block;
									width: 0px;
									height: 0px;
									border-top: 15px solid transparent;
									border-bottom: 15px solid transparent;
									transition: border-color 1s;
									position: relative;
								}
								& > span:first-child{
									border-left: 5px solid transparent;
									border-right: 20px solid #987070;
								}
								& > span:last-child{
									border-left: 20px solid #987070;
									border-right: 5px solid transparent;
								}
								& > span:first-child:hover, & > span:first-child:active{
									border-right: 20px solid #C99A9A;
									cursor: pointer;
									left: -2px;
								}
								& > span:last-child:hover, & > span:last-child:active{
									border-left: 20px solid #C99A9A;
									cursor: pointer;
									left: 2px;
								}
								& > div{
									display: flex;
									justify-content: space-around;
									width: 100%;
									span{
										box-sizing: border-box;
										border: 1px solid #000;
										width: 25px;
										height: 25px;
										padding: 2px 0px 2px;
										font-size: 14px;
										font-weight: bold;
										text-align: center;
										background-color: #FFD09B;
										&:hover, &:active{
											cursor: pointer;
											background-color: #BBAB8C;
										}
										&:nth-child(2){
											display: none;
										}
										&:nth-child(3){
											display: none;
										}
									}
								}
							}
						}
						& > button:last-child{
							background-color: lighten(#C7253E, 10%);
							padding: 5px 8px;
							border-radius: 5px;
							font-size: .6em;
							text-transform: uppercase;
							margin-left: 5%;
							align-self: flex-start;
							&:hover, &:active{
								cursor: pointer;
							}
						}
					}
					.block-header_games{
						background-color: #e7cfa5;
						border: 1px solid #000;
						margin-bottom: 4px;
						h3{
							text-align: center;
							font-size: .6em;
							border-bottom: 1px solid #000;
							background-color: #d3bd52;
						}
						& > div{
							display: grid;
							grid-template: repeat(2, 1fr) / repeat(5, 1fr);
							grid-row-gap: 3px;
							grid-column-gap: 3px;
							span{
								border-right: 1px solid #000;
								border-bottom: 1px solid #000;
								font-size: .6em;
								font-weight: bold;
								flex-basis: 15%;
								text-align:center;
							}
							span:nth-child(5){
								border-right: none;
							}
							span:last-child{
								grid-column: 1 / span 5;
								border-right: none;
								border-bottom: none;
							}
						}
					}
					.block-data_games{
						overflow-y: scroll;
						height: 45vh;
						/*Single game block*/
						.block-data__game{
							display: none;
							flex-direction: column;
							font-size: .7em;
							margin: 15px 0 0;
							/*Game header*/
							.block-data__header{
								display: flex;
								justify-content: space-between;
								color:#fff;
								height: 20px;
								font-size: .7em;
								background-color: #DBB5B5;
								&:hover, &:active{
									cursor: pointer;
								}
								.block-data__order{
									display: none;
								}
								.block-data__date{
									display: flex;
									justify-content: space-around;
									flex-basis: 20%;
									background-color: #987070;
									h3:first-child{ font-size: 1em;; }
								}
								.block-data__passed-levels{
									display: flex;
									justify-content: space-around;
									flex-basis: 20%;
									background-color: #C39898;
									h3:first-child{ font-size: 1em;; }
								}
							}
							/*Game levels with information for each level*/
							.block-data__levels{
								display: none;
								grid-template: repeat(2, 1fr) / repeat(5, 1fr);
								grid-row-gap: 3px;
								grid-column-gap: 3px;
								$fontSize: .7em;
								border: 1px solid #000;
								grid-auto-rows: 40px;
								color: #31363F;
								background-color: #45474B;
								font-weight: bold;
								.block-data__level{
									display: none;
									h3:first-child{ 
										font-size: $fontSize;
										padding-top: 3%;
									}
									background-color: #BC9F8B;
								}
								.block-data__user-result{
									display: none;
									background-color: #D9ABAB;
									h3:first-child{ 
										font-size: $fontSize;
										background-color: #BC9F8B;
									}
									span{
										font-size: $fontSize;
										padding-left: 5%;
									}
								}
								.block-data__cpu-result{
									background-color: #D9ABAB;
									display: none;
									h3:first-child{ 
										font-size: $fontSize; 
										background-color: #BC9F8B;
									}
									span{
										font-size: $fontSize;
										padding-left: 5%;
									}
								}
								.block-data__progress{
									background-color: #D9ABAB;
									display: none;
									h3:first-child{ 
										font-size: $fontSize; 
										background-color: #BC9F8B;
									}
									span{
										font-size: $fontSize;
										padding-left: 5%;
									}
								}
								.block-data__remaining-time{
									background-color: #D9ABAB;
									display: none;
									h3:first-child{ 
										font-size: $fontSize;
										background-color: #BC9F8B;
									}
									time{
										font-size: $fontSize;
										padding-left: 5%;
									}
								}
								.block-data__nums-sequence{
									display: none;									
									grid-column: 1 / span 5;
									justify-content: space-between;
									h3:first-child{ 
										font-size: $fontSize; 
										flex-basis: 15%;
										background-color: #A0937D;
										border-right: 2px solid #45474B;
									}
									div{
										flex-basis: 85%;
										font-size: $fontSize;
										height: 40px;
										padding-left: 3px;
										overflow-y: scroll;
										background-color: #E4C59E;
									}
								}
							}
							.block-data__levels_expanded{
								display: grid;
							}
						}
					}
				}
			}
			.content__guide{
				position:absolute;
				background-color: #FFDE4D;
				top:0;
				left:0;
				right:0;
				bottom:0;
				z-index:0;
				padding: 1vw;
			}
			.content__preloader{
				position:absolute;
				background-color: rgba(0,0,0,0.97);
				top:0;
				left:0;
				right:0;
				bottom:0;
				z-index:1;
				padding: 1vw;
				& > div{
					width: 150px;
					height: 40px;
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-75px, -25px);
					display: flex;
					align-items: center;
					justify-content: space-around;
					@keyframes preloader{
						0%{
							align-self: flex-end;
						}
						50%{
							align-self: center;
						}
						75%{
							align-self: flex-start;
						}
						100%{
							align-self: center;
						}
					}
					& > span{
						width: 25px;
						height: 25px;
						border: 1px solid #000;
						border-radius: 50%;
						background-color: #FFB22C; 
					}
					& > span:nth-of-type(1){
						animation: preloader 1s linear .5s infinite normal none;
					}
					& > span:nth-of-type(2){
						animation: preloader 1s linear .6s infinite normal none;
					}
					& > span:nth-of-type(3){
						animation: preloader 1s linear .7s infinite normal none;
					}
				}
			}
		}
	}
	.footer{
		flex-shrink: 0;
		font-size: .7em;
		text-align: center;
	}
}
